.footer {
  background: linear-gradient(to right, #000000, #1b1a1a, #000000);
  padding: 20px 0;
  text-align: center; 
  margin-top: 80px; 
}


.footer-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  margin: 4px auto;
  display: block; /* center it horizontally */
}

.footer-button:hover {
  color: rgb(167, 166, 166);
}
